#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config OPENAMP
	bool "Open Asymmetric Multi Processing support"
	default n
	---help---
		Enable or disable Open Asymmetric Multi Processing features

if OPENAMP

config OPENAMP_CEVA_LOADER
	bool "OpenAMP ceva loader support"
	default y

config OPENAMP_ELF_LOADER
	bool "OpenAMP elf loader support"
	default y

endif # OPENAMP
