#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if HWSPINLOCK

config SONG_HWSPINLOCK
	bool "SONG SPINLOCK"
	default n
	depends on ARCH_CHIP_SONG

endif # HWSPINLOCK
