.depend
Make.dep
*.o
*.a
*.lib
*.d
*.i
*.lst
*~
.swp
.*.swp
core
uImage
/.gdbinit
/cscope.*
/.config
/.config.old
/.version
/defconfig
/Make.defs
/staging
/nuttx
/nuttx.*
/nuttx-*
/_SAVED_APPS_config
/*.map
/*.lin
/*.elf
/*.srec
/*.bin
/*.ihx
/*.hex
/.cproject
/.project
/tags
openamp
/TAGS
