CONFIG_ALARM_ARCH=y
CONFIG_ARCH="arm"
CONFIG_ARCH_ARM_SONG=y
CONFIG_ARCH_BOARD="unicorn"
CONFIG_ARCH_BOARD_UNICORN=y
CONFIG_ARCH_CHIP_SONG=y
CONFIG_ARCH_CHIP_UNICORN_AP=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARM_MPU=y
CONFIG_ARMV7M_USEBASEPRI=y
CONFIG_BOARD_INITIALIZE=y
CONFIG_BOARD_INITTHREAD=y
CONFIG_BUILTIN=y
CONFIG_CLOCK_MONOTONIC=y
CONFIG_EXAMPLES_NSH=y
CONFIG_FS_BINFS=y
CONFIG_FS_HOSTFS_RPMSG=y
CONFIG_FS_HOSTFS=y
CONFIG_FS_PROCFS=y
CONFIG_HEAP_COLORATION=y
CONFIG_MBOX=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_PROMPT_STRING="ap> "
CONFIG_NSH_READLINE=y
CONFIG_ONESHOT_SONG=y
CONFIG_ONESHOT=y
CONFIG_OPENAMP=y
CONFIG_PM=y
CONFIG_RAW_BINARY=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_RPMSG_UART=y
CONFIG_RPTUN=y
CONFIG_RTC_ALARM=y
CONFIG_RTC_ARCH=y
CONFIG_RTC_DATETIME=y
CONFIG_RTC_DRIVER=y
CONFIG_RTC_IOCTL=y
CONFIG_RTC_SONG=y
CONFIG_RTC=y
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_TICKLESS_ALARM=y
CONFIG_SCHED_TICKLESS_LIMIT_MAX_SLEEP=y
CONFIG_SCHED_TICKLESS=y
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL_IFLOWCONTROL_WATERMARKS=y
CONFIG_SONG_ICACHE_BASE=0xb0030050
CONFIG_SONG_MBOX=y
CONFIG_SONG_NR_IRQS=33
CONFIG_SONG_RPTUN=y
CONFIG_STACK_COLORATION=y
CONFIG_SYSLOG_PREFIX_STRING="ap: "
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_RPMSG_WORK_DELAY=0
CONFIG_SYSLOG_RPMSG=y
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_SYSTEM_CLE=y
CONFIG_SYSTEM_TIME64=y
CONFIG_USER_ENTRYPOINT="nsh_main"
