CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGWIDTH=32
CONFIG_16550_UART1_BASE=0xb00b0000
CONFIG_16550_UART1_CLOCK=1843200
CONFIG_16550_UART1_IRQ=22
CONFIG_16550_UART1_SERIAL_CONSOLE=y
CONFIG_16550_UART1=y
CONFIG_16550_UART=y
CONFIG_ARCH="arm"
CONFIG_ARCH_ARM_SONG=y
CONFIG_ARCH_BOARD="unicorn"
CONFIG_ARCH_BOARD_UNICORN=y
CONFIG_ARCH_CHIP_UNICORN_AP=y
CONFIG_ARMV7M_USEBASEPRI=y
CONFIG_EXAMPLES_NSH=y
CONFIG_NSH_DISABLE_DATE=y
CONFIG_PM=y
CONFIG_RTC_ALARM=y
CONFIG_RTC_DATETIME=y
CONFIG_RTC_DRIVER=y
CONFIG_RTC_IOCTL=y
CONFIG_RTC_SONG_ALARM_INDEX=1
CONFIG_RTC_SONG_BASE=0xb2020000
CONFIG_RTC_SONG_IRQ=16
CONFIG_RTC_SONG=y
CONFIG_RTC=y
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_TICKLESS_ALARM=y
CONFIG_SCHED_TICKLESS_LIMIT_MAX_SLEEP=y
CONFIG_SCHED_TICKLESS=y
CONFIG_SERIAL_UART_ARCH_MMIO=y
CONFIG_SONG_CACHE_BASE=0xb0030050
CONFIG_SONG_NR_IRQS=33
CONFIG_TIMERS_SONG_BASE=0xb0040000
CONFIG_TIMERS_SONG_C1_FREQ=32768000
CONFIG_TIMERS_SONG_C1_MAX=2048
CONFIG_TIMERS_SONG_C1_OFFSET=0x174
CONFIG_TIMERS_SONG_C2_OFFSET=0x178
CONFIG_TIMERS_SONG_CALIB_OFFSET=0x194
CONFIG_TIMERS_SONG_CTL_OFFSET=0x170
CONFIG_TIMERS_SONG_INTR_BIT=1
CONFIG_TIMERS_SONG_INTREN_OFFSET=0x128
CONFIG_TIMERS_SONG_INTRST_OFFSET=0x134
CONFIG_TIMERS_SONG_IRQ=18
CONFIG_TIMERS_SONG_SPEC_OFFSET=0x1a8
CONFIG_TIMERS_SONG=y
CONFIG_USER_ENTRYPOINT="nsh_main"
