CONFIG_ARCH_BOARD="banks"
CONFIG_ARCH_BOARD_BANKS=y
CONFIG_ARCH="ceva"
CONFIG_ARCH_CEVA=y
CONFIG_ARCH_CHIP_BANKS_VDSP=y
CONFIG_ARCH_CHIP_SONG=y
CONFIG_ARCH_DTCM_SIZE=524288
CONFIG_ARCH_HARDFAULT_IRQ=4
CONFIG_ARCH_ICACHE=y
CONFIG_ARCH_ITCM_SIZE=131072
CONFIG_ARCH_MPU=y
CONFIG_ARCH_RTL_MAJOR=1
CONFIG_ARCH_RTL_MINOR=1
CONFIG_ARCH_RTL_REVISION=1
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARCH_XM6_BUG001=y
CONFIG_ARCH_XM6_STACKCHECK=y
CONFIG_BANKS_VISION=y
CONFIG_BOARD_INITIALIZE=y
CONFIG_BOARD_INITTHREAD=y
CONFIG_BOOT_RUNFROMISRAM=y
CONFIG_BUILTIN=y
CONFIG_CLOCK_MONOTONIC=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_HARDFAULT=y
CONFIG_EXAMPLES_HELLO=y
CONFIG_FS_PROCFS=y
CONFIG_FS_ROMFS=y
CONFIG_HEAP_COLORATION=y
CONFIG_MEMSET_OPTSPEED=y
CONFIG_PM=y
CONFIG_RAMLOG_SYSLOG=y
CONFIG_RAMLOG=y
CONFIG_SCHED_CHILD_STATUS=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_HPNTHREADS=2
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_TICKLESS_LIMIT_MAX_SLEEP=y
CONFIG_SCHED_TICKLESS=y
CONFIG_SCHED_WAITPID=y
CONFIG_SIG_SIGKILL=y
CONFIG_SONG_NR_IRQS=20
CONFIG_STACK_COLORATION=y
CONFIG_SYSLOG_PREFIX_STRING="vision: "
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_SYSTEM_CLE=y
CONFIG_SYSTEM_TIME64=y
CONFIG_TIMER_ARCH=y
CONFIG_TIMER_DW=y
CONFIG_TIMER=y
CONFIG_USER_ENTRYPOINT="hello_main"
CONFIG_VINTC_DW_BASE=0xfd030000
CONFIG_VINTC_DW=y
