#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SONG_DMAG
	bool "Song DMAG"
	depends on ARCH_CHIP_SONG
	depends on CLK

config SONG_DMAS
	bool "Song DMAS"
	depends on ARCH_CHIP_SONG
	depends on CLK
