menuconfig CLK
	bool "Clock management (CLK) driver interfaces"
	default n
	---help---
		The base clock drivers and clock management sets. These interfaces are used
		to enable/disable clocks and set clock rate for drivers

if CLK

config CLK_RPMSG
	bool "rpmsg clk driver"
	default n
	depends on OPENAMP
	---help---
		Rpmsg clk are proxy/master pairs clock that operate clks between client and
		server processor.

if CLK_RPMSG

config CLK_RPMSG_PRIORITY
	int "clk prmsg priority"
	default 100
	---help---
		The priority for clk rmpsg task.

config CLK_RPMSG_STACKSIZE
	int "clk rpmsg stack size"
	default 1024
	---help---
	The stack size allocated for the clk rpmsg task.

endif

menuconfig SONG_CLK
	bool "song clk driver and wrapper for basic clks"
	default n
	depends on ARCH_CHIP_SONG
	---help---
		Sng clk contain song platfrom clk module (clk-pll) and clk wrapper (song-clk)
		for all basic clks

if SONG_CLK
source drivers/clk/song/Kconfig
endif # SONG_CLK

endif
