menuconfig CLK
	bool "Clock management (CLK) driver interfaces"
	default n
	---help---
		The base clock drivers and clock management sets. These interfaces are used
		to enable/disable clocks and set clock rate for drivers

if CLK

config CLK_RPMSG
	bool "rpmsg clk driver"
	default n
	depends on OPENAMP
	---help---
		Rpmsg clk is clock proxy in client processor operate clks belong
		server processor.

menuconfig SONG_CLK
	bool "song clk driver and wrapper for basic clks"
	default n
	---help---
		Sng clk contain song platfrom clk module (clk-pll) and clk wrapper (song-clk)
		for all basic clks

if SONG_CLK
source drivers/clk/song/Kconfig
endif # SONG_CLK

endif
