#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "Song Configuration Options"

config ARCH_CHIP_SONG
	bool

choice
	prompt "Song Chip Selection"
	default ARCH_CHIP_U2_AP
	depends on ARCH_CHIP_SONG

config ARCH_CHIP_U2_AP
	bool "U2 AP"
	select ARCH_RV32IM
	select ARCH_HAVE_FPU

config ARCH_CHIP_U2_APV3
	bool "U2 APV3"
	select ARCH_RV32IM
	select ARCH_HAVE_FPU

config ARCH_CHIP_U2_AUDIO
	bool "U2 AUDIO"
	select ARCH_RV32IM

config ARCH_CHIP_U3_AP
	bool "U3 AP"
	select ARCH_RV32IM
	select ARCH_DCACHE
	select ARCH_HAVE_FPU

config ARCH_CHIP_U3_CPR
	bool "U3 CPR"
	select ARCH_RV32IM
	select ARCH_DCACHE
	select ARCH_HAVE_FPU

config ARCH_CHIP_U3_QEMU
	bool "U3 Qemu"
	select ARCH_RV32IM
	select RISCV_MTIME

config ARCH_CHIP_V1_ISP
	bool "V1 ISP"
	select ARCH_RV32IM

config ARCH_CHIP_V1_RPM
	bool "V1 RPM"
	select ARCH_RV32IM

endchoice

config EARLY_STACKSIZE
	int "Early stack size"
	default 0

config HIPRI_INTERRUPT_PRIORITY
	hex "High Priority Interrupt Priority"
	depends on ARCH_HIPRI_INTERRUPT
	default 0x0f if INTC_DW
	default 0xffffffff if INTC_PULP
	default 0xffffffff if INTC_PLIC

choice
	prompt "Song Interrupt Controller Selection"

config INTC_DW
	bool "DesignWare Interrupt Controller"
	select ARCH_HAVE_HIPRI_INTERRUPT
	select ARCH_HAVE_IRQPRIO
	select ARCH_HAVE_IRQTRIGGER

config INTC_PLIC
	bool "Platform Level Interrupt Controller"
	select ARCH_HAVE_HIPRI_INTERRUPT
	select ARCH_HAVE_IRQPRIO
	select ARCH_HAVE_IRQTRIGGER

config INTC_PULP
	bool "Pulp Event Unit"
	select ARCH_HAVE_HIPRI_INTERRUPT
	select ARCH_HAVE_IRQPRIO

endchoice

config INTC_DW_BASE
	hex "DW VINTC base address"
	depends on INTC_DW

config INTC_PLIC_BASE
	hex "Plic base address"
	depends on INTC_PLIC

config INTC_PULP_BASE
	hex "Pulp Event Unit base address"
	depends on INTC_PULP

config RISCV_MTIME
	bool

config SONG_DCACHE_LINEBYTES
	int "Data cache line bytes"
	depends on ARCH_DCACHE

config SONG_COPY_TABLE
	bool

config SONG_NR_IRQS
	int "Interrupt Number"
