#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config CRASH_DUMPFILE
	bool "Enable crash dump file"
	default n
	depends on !DISABLE_MOUNTPOINT

if CRASH_DUMPFILE

config CRASH_DUMPFILE_MOUNTPOINT
	string "Mountpoint of the crash dump file"
	default "/log"

config CRASH_DUMPFILE_NUM
	int "max dump file num"
	default 10

endif # CRASH_DUMPFILE

config CRASH_DUMPZMODEM
	bool "Enable crash dump zmodem"
	default n
	depends on SYSTEM_ZMODEM
	select BOARD_CRASHDUMP

if CRASH_DUMPZMODEM

config CRASH_DUMPZMODEM_FILE
	string "FILE NAME of the crash dump zmodem"
	default "/data/crashdump.tcm"

config CRASH_DUMPZMODEM_TTY
	string "Which tty ZMODEM should use"
	default "/dev/ttyS0"

endif #CRASH_DUMPZMODEM
