#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "Song Configuration Options"

config ARCH_CHIP_SONG
	bool

choice
	prompt "Song Chip Selection"
	depends on ARCH_CHIP_SONG

config ARCH_CHIP_BANKS_RPM
	bool "Banks RPM"
	select SONG_CORTEXM4

config ARCH_CHIP_BANKS_SENSOR
	bool "Banks Sensor"
	select ARCH_HAVE_FPU
	select SONG_CORTEXM4

config ARCH_CHIP_FVP_MPS2_M4
	bool "FVP MPS2 M4"
	select ARCH_HAVE_FPU
	select SONG_CORTEXM4

config ARCH_CHIP_U1_AP
	bool "U1 AP"
	select ARCH_HAVE_FPU
	select ARCH_HAVE_RAMFUNCS
	select SONG_CORTEXM4
	select SONG_ICACHE

config ARCH_CHIP_U1_CP
	bool "U1 CP"
	select ARCH_HAVE_FPU
	select ARCH_HAVE_RAMFUNCS
	select SONG_CORTEXM4
	select SONG_ICACHE
	select SONG_COPY_TABLE
	select SONG_ZERO_TABLE

config ARCH_CHIP_U1_SP
	bool "U1 SP"
	select ARCH_HAVE_POWEROFF
	select ARCH_HAVE_RAMFUNCS
	select SONG_CORTEXM4
	select SONG_HAVE_RNG
	select SONG_ICACHE
	select SONG_COPY_TABLE

config ARCH_CHIP_U2_M4
	bool "U2 M4"
	select ARCH_HAVE_FPU
	select SONG_CORTEXM4

endchoice

config EARLY_STACKSIZE
	int "Early stack size"
	default 0

config SONG_CORTEXM4
	bool
	select ARCH_CORTEXM4
	select ARCH_HAVE_CMNVECTOR
	select ARCH_HAVE_MPU
	select ARM_HAVE_MPU_UNIFIED
	select ARMV7M_CMNVECTOR
	select ARMV7M_HAVE_STACKCHECK

config SONG_COPY_TABLE
	bool

config SONG_ZERO_TABLE
	bool

config SONG_ICACHE
	bool
	select ARCH_HAVE_COHERENT_DCACHE

config SONG_ICACHE_BASE
	hex "Song icache base address"
	depends on SONG_ICACHE

config SONG_NR_IRQS
	int "Interrupt Number"
