#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "CSKY SMARTL Configuration Options"

choice
	prompt "CSKY Chip Selection"
	default ARCH_CHIP_SMARTL03
	depends on ARCH_CHIP_SMARTL

config ARCH_CHIP_SMARTL03
	bool "SMARTL"
	select SMARTL_HAVE_UART0
	---help---
		SMARTL, 512K I-ROM, 512K D-SRAM, 8M OFFCHIP-SRAM, 128K ONCHIP-SRAM

endchoice

menu "SMARTL Peripheral Support"

# These "hidden" settings determine is a peripheral option is available for the
# selection MCU

config SMARTL_HAVE_UART0
	bool
	default n
	select UART0_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS

config SMARTL_UART0
	bool "UART0"
	default n
	select ARCH_HAVE_UART0
	select ARCH_HAVE_SERIAL_TERMIOS
	select SMARTL_UART

endmenu

config SMARTL_UART
	bool

config SMARTL_UART_RX_BUF_SIZE
	int "UART RX Bufer size"
	default 64
	depends on SMARTL_UART
	---help---
		Size of RX buffers for SMARTL UARTs

config SMARTL_UART_TX_BUF_SIZE
	int "UART TX Bufer size"
	default 64
	depends on SMARTL_UART
	---help---
		Size of TX buffers for SMARTL UARTs

