CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGWIDTH=32
CONFIG_16550_SUPRESS_INITIAL_CONFIG=y
CONFIG_16550_UART3_BASE=0x7c805800
CONFIG_16550_UART3_CLOCK=1843200
CONFIG_16550_UART3_IRQ=20
CONFIG_16550_UART3_SERIAL_CONSOLE=y
CONFIG_16550_UART3=y
CONFIG_16550_UART=y
CONFIG_ALARM_ARCH=y
CONFIG_ARCH_BOARD="abies"
CONFIG_ARCH_BOARD_ABIES=y
CONFIG_ARCH="ceva"
CONFIG_ARCH_CEVA=y
CONFIG_ARCH_CHIP_ABIES_ADSP=y
CONFIG_ARCH_CHIP_SONG=y
CONFIG_ARCH_DEFAULT_HEAP=1
CONFIG_ARCH_DTCM_SIZE=131072
CONFIG_ARCH_HARDFAULT_IRQ=4
CONFIG_ARCH_ICACHE=y
CONFIG_ARCH_ITCM_SIZE=131072
CONFIG_ARCH_NR_MEMORY=2
CONFIG_ARCH_RTL_MAJOR=1
CONFIG_ARCH_RTL_MINOR=1
CONFIG_ARCH_RTL_REVISION=2
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARCH_TL4_VOICE=y
CONFIG_BOARD_INITIALIZE=y
CONFIG_BOARD_INITTHREAD=y
CONFIG_BOOT_RUNFROMISRAM=y
CONFIG_BUILTIN=y
CONFIG_CLOCK_MONOTONIC=y
CONFIG_DEBUG_FEATURES=y
CONFIG_EXAMPLES_NSH=y
CONFIG_FS_BINFS=y
CONFIG_FS_PROCFS=y
CONFIG_FS_TMPFS=y
CONFIG_HEAP_COLORATION=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_LINELEN=128
CONFIG_NSH_PROMPT_STRING="audio> "
CONFIG_NSH_READLINE=y
CONFIG_ONESHOT_SONG=y
CONFIG_ONESHOT=y
CONFIG_PM=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_SCHED_CHILD_STATUS=y
CONFIG_SCHED_HAVE_PARENT=y
CONFIG_SCHED_HPNTHREADS=2
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_TICKLESS_ALARM=y
CONFIG_SCHED_TICKLESS_LIMIT_MAX_SLEEP=y
CONFIG_SCHED_TICKLESS=y
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL_UART_ARCH_MMIO=y
CONFIG_SONG_NR_IRQS=30
CONFIG_STACK_COLORATION=y
CONFIG_SYSLOG_PREFIX_STRING="audio: "
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_TIMESTAMP=y
CONFIG_SYSTEM_CLE=y
CONFIG_SYSTEM_TIME64=y
CONFIG_USER_ENTRYPOINT="nsh_main"
CONFIG_VINTC_DW_BASE=0xf9010000
CONFIG_VINTC_DW=y
