#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CSKY
comment "CSKY Options"

choice
	prompt "CSKY chip selection"
	default ARCH_CHIP_SMARTL
	default ARCH_CHIP_CH2XXX

config ARCH_CHIP_SMARTL
	bool "SMARTL"
	select ARCH_CK803F
	---help---
		CSKY architectures (CK803F cores).

config ARCH_CHIP_CH2XXX
	bool "CH2XXX"
	select ARCH_CK802
	---help---
		CSKY architectures (CK802 cores).

config ARCH_CSKY_SONG
	bool "Pinecone Song"
	select ARCH_CHIP_SONG
	select ARCH_HAVE_HEAPCHECK
	select ARCH_HAVE_RESET
	select ARCH_HAVE_STACKCHECK
	---help---
		Pinecone Song(CSKY series) architectures

endchoice

config ARCH_CK803F
	bool
	select ARCH_HAVE_FPU
	default n

config ARCH_CK802
	bool
	default n

config ARCH_FAMILY
	string
	default "ck803f"		if ARCH_CK803F
	default "ck802"		if ARCH_CK802

config ARCH_CHIP
	string
	default "smartl03"	if ARCH_CHIP_SMARTL
	default "ch2201"	if ARCH_CHIP_CH2XXX
	default "song"		if ARCH_CSKY_SONG

if ARCH_CK803F
source arch/csky/src/ck803f/Kconfig
endif
if ARCH_CHIP_SMARTL
source arch/csky/src/smartl03/Kconfig
endif

if ARCH_CK802
source arch/csky/src/ck802/Kconfig
endif
if ARCH_CHIP_CH2XXX
source arch/csky/src/ch2201/Kconfig
endif
if ARCH_CSKY_SONG
source arch/csky/src/song/Kconfig
endif

endif
