#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "Song Configuration Options"

config ARCH_CHIP_SONG
	bool

choice
	prompt "Song Chip Selection"
	depends on ARCH_CHIP_SONG

config ARCH_CHIP_ABIES_ADSP
	bool "Abies ADSP"
	select SONG_TL420

config ARCH_CHIP_BANKS_ADSP
	bool "Banks ADSP"
	select SONG_TL421

config ARCH_CHIP_U3_CPX
	bool "U3 CPX"
	select SONG_XC5

config ARCH_CHIP_V1_VDSP
	bool "V1 VDSP"
	select SONG_XM6

endchoice

config SONG_TL420
	bool
	select ARCH_TL4_VOICE
	select ARCH_TL420

config SONG_TL421
	bool
	select ARCH_HAVE_FPU
	select ARCH_HAVE_MPU
	select ARCH_TL4_VOICE
	select ARCH_TL421

config SONG_XC5
	bool
	select ARCH_HAVE_FPU
	select ARCH_XC5

config SONG_XM6
	bool
	select ARCH_HAVE_FPU
	select ARCH_XM6

config SONG_NR_IRQS
	int "Interrupt Number"

config LOGBUF_SIZE
	int "Logbuf size"
	default 1024

config VINTC_DW
	bool "DesignWare Interrupt Controller"
	select ARCH_HAVE_IRQPRIO
	select ARCH_HAVE_IRQTRIGGER
	select ARCH_HAVE_VINTC

config VINTC_DW_BASE
	hex "DW VINTC base address"
	depends on VINTC_DW
