#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "Song Configuration Options"

config ARCH_CHIP_SONG
	bool

choice
	prompt "Song Chip Selection"
	default ARCH_CHIP_ABIES_ADSP
	depends on ARCH_CHIP_SONG

config ARCH_CHIP_ABIES_ADSP
	bool "Abies ADSP"
	select SONG_TL420

config ARCH_CHIP_BANKS_ADSP
	bool "Banks ADSP"
	select SONG_TL421

endchoice

config SONG_TL420
	bool
	select ARCH_HAVE_ICACHE
	select ARCH_TL4_VOICE
	select ARCH_TL420

config SONG_TL421
	bool
	select ARCH_HAVE_DCACHE
	select ARCH_HAVE_FPU
	select ARCH_HAVE_ICACHE
	select ARCH_HAVE_MPU
	select ARCH_TL4_VOICE
	select ARCH_TL421

config SONG_NR_IRQS
	int "Interrupt Number"

config VINTC_DW
	bool "DesignWare Interrupt Controller"
	select ARCH_HAVE_IRQPRIO
	select ARCH_HAVE_VINTC

config VINTC_DW_BASE
	hex "DW VINTC base address"
	depends on VINTC_DW
