#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig RPTUN
	bool "Remote Proc Tunnel Driver Support"
	default n
	depends on OPENAMP
	---help---
		RPTUN driver is used for multi-cores' communication.

if RPTUN

config RPTUN_PRIORITY
	int "rpturn thread priority"
	default 224

config RPTUN_STACKSIZE
	int "rptun stack size"
	default 2048

config RPTUN_USE_HPWORK
	bool "rptun use HPWORK"
	default n
	depends on SCHED_HPWORK

config RPTUN_VDEV_NUM
	int "rpturn virtio device number"
	default 2

config SONG_RPTUN
	bool "Song Tunnel Support"
	default n
	depends on ARCH_CHIP_SONG
	depends on SONG_MBOX

endif # RPTUN
