CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGWIDTH=32
CONFIG_16550_UART1_BASE=0xb00b0000
CONFIG_16550_UART1_CLOCK=1843200
CONFIG_16550_UART1_IRQ=22
CONFIG_16550_UART1_SERIAL_CONSOLE=y
CONFIG_16550_UART1=y
CONFIG_16550_UART=y
CONFIG_ALARM_ARCH=y
CONFIG_ARCH="arm"
CONFIG_ARCH_ARM_SONG=y
CONFIG_ARCH_BOARD="unicorn"
CONFIG_ARCH_BOARD_UNICORN=y
CONFIG_ARCH_CHIP_SONG=y
CONFIG_ARCH_CHIP_UNICORN_SP=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARM_MPU=y
CONFIG_ARMV7M_USEBASEPRI=y
CONFIG_BOARD_INITIALIZE=y
CONFIG_BOARD_INITTHREAD=y
CONFIG_BUILTIN=y
CONFIG_CLOCK_MONOTONIC=y
CONFIG_EXAMPLES_NSH=y
CONFIG_FS_BINFS=y
CONFIG_FS_HOSTFS_RPMSG_SERVER=y
CONFIG_FS_HOSTFS_RPMSG=y
CONFIG_FS_HOSTFS=y
CONFIG_FS_PROCFS=y
CONFIG_HEAP_COLORATION=y
CONFIG_MBOX=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_PROMPT_STRING="sp> "
CONFIG_NSH_READLINE=y
CONFIG_ONESHOT_SONG=y
CONFIG_ONESHOT=y
CONFIG_OPENAMP=y
CONFIG_PM=y
CONFIG_RAW_BINARY=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_RPMSG_UART=y
CONFIG_RPTUN=y
CONFIG_RTC_ALARM=y
CONFIG_RTC_ARCH=y
CONFIG_RTC_DATETIME=y
CONFIG_RTC_DRIVER=y
CONFIG_RTC_IOCTL=y
CONFIG_RTC_SONG=y
CONFIG_RTC=y
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_TICKLESS_ALARM=y
CONFIG_SCHED_TICKLESS_LIMIT_MAX_SLEEP=y
CONFIG_SCHED_TICKLESS=y
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL_IFLOWCONTROL_WATERMARKS=y
CONFIG_SERIAL_UART_ARCH_MMIO=y
CONFIG_SONG_ICACHE_BASE=0xb01500d0
CONFIG_SONG_MBOX=y
CONFIG_SONG_NR_IRQS=37
CONFIG_SONG_RNG_BASE=0xb0150000
CONFIG_SONG_RNG=y
CONFIG_SONG_RPTUN=y
CONFIG_STACK_COLORATION=y
CONFIG_SYSLOG_RPMSG_SERVER=y
CONFIG_SYSTEM_CLE=y
CONFIG_SYSTEM_CUTERM_DEFAULT_DEVICE="/dev/ttyCP"
CONFIG_SYSTEM_CUTERM=y
CONFIG_SYSTEM_TIME64=y
CONFIG_UNICORN_SP=y
CONFIG_USER_ENTRYPOINT="nsh_main"
