#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if MBOX

config SONG_MBOX
	bool "Song Mbox Support"
	default n
	depends on ARCH_CHIP_SONG

endif # MBOX
