CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGWIDTH=32
CONFIG_16550_UART3_BASE=0xf900b000
CONFIG_16550_UART3_CLOCK=1843200
CONFIG_16550_UART3_IRQ=46
CONFIG_16550_UART3_SERIAL_CONSOLE=y
CONFIG_16550_UART3=y
CONFIG_16550_UART=y
CONFIG_ARCH="arm"
CONFIG_ARCH_ARM_SONG=y
CONFIG_ARCH_BOARD="banks"
CONFIG_ARCH_BOARD_BANKS=y
CONFIG_ARCH_CHIP_BANKS_RPM=y
CONFIG_EXAMPLES_NSH=y
CONFIG_SCHED_TICKLESS_ALARM=y
CONFIG_SCHED_TICKLESS_LIMIT_MAX_SLEEP=y
CONFIG_SCHED_TICKLESS=y
CONFIG_SERIAL_UART_ARCH_MMIO=y
CONFIG_TIMERS_SONG_BASE=0xf9210000
CONFIG_TIMERS_SONG_C1_FREQ=26000000
CONFIG_TIMERS_SONG_C1_MAX=2600
CONFIG_TIMERS_SONG_C1_OFFSET=0x164
CONFIG_TIMERS_SONG_C2_OFFSET=0x168
CONFIG_TIMERS_SONG_CALIB_OFFSET=0x174
CONFIG_TIMERS_SONG_CTL_OFFSET=0x160
CONFIG_TIMERS_SONG_INTR_BIT=29
CONFIG_TIMERS_SONG_INTREN_OFFSET=0x150
CONFIG_TIMERS_SONG_INTRST_OFFSET=0x154
CONFIG_TIMERS_SONG_IRQ=18
CONFIG_TIMERS_SONG_SPEC_OFFSET=0x664
CONFIG_TIMERS_SONG=y
CONFIG_USER_ENTRYPOINT="nsh_main"
